In [1]:
x = 5
print(x)

y = 17

5

In [2]:
print(x)

5

In [3]:
print(y)

17

In [4]:
y = 50

# 가장 큰 제목
## 두번째로 큰 제목
### 세번째로 큰 제목
일반 글

**굵게** *이탤릭*

리스트
* list_1
* list_2
* list_3

번호 목록
1. 1번
2. 2번
3. 3번

## 줄바꿈
줄바꿈은 space바를 2번 입력  
1번째 줄  
2번쨰 줄

# 문단바꿈
문단바꿈은 enter키를 2번 입력

1번째 문단

2번째 문단

이탤릭체는 *별표*나 _언더바_로

볼드체는 **별표 두 개**나 __언더바 두개__로

**별표와 _언더바_**를 섞어서

취소선은 ~~물결~~로

## 링크
[codeit](https://www.codeit.kr)

## 이미지

![codeit](https://www.codeit.kr/static/images/brand/logo_original.png)

## 코드 블록
```python
print("Hello World!")
for i in range(10):
    print(i)
```

## 인라인 코드

값을 출력하고 싶으면 `print` 함수를 사용하면 되겠죠?

## 구분선
구분선 위

---

구분선 아래

In [5]:
import os
os.getcwd()

'C:\\'

In [8]:
import pandas as pd
df = pd.read_csv('data/liverpool.csv')
df

              Name Position  Born  Number Nationality
0  Roberto Firmino       FW  1991   no. 9      Brazil
1       Sadio Mane       FW  1992  no. 10     Senegal
2    Mohamed Salah       FW  1992  no. 11       Egypt
3        Joe Gomez       DF  1997  no. 12     England
4   Alisson Becker       GK  1992  no. 13      Brazil

In [9]:
print(df)

              Name Position  Born  Number Nationality
0  Roberto Firmino       FW  1991   no. 9      Brazil
1       Sadio Mane       FW  1992  no. 10     Senegal
2    Mohamed Salah       FW  1992  no. 11       Egypt
3        Joe Gomez       DF  1997  no. 12     England
4   Alisson Becker       GK  1992  no. 13      Brazil